<header>
    <div class="header">
        <button mat-icon-button type="button" [matMenuTriggerFor]="inputMenu">
            <mat-icon>edit_note</mat-icon>
        </button>
        <mat-menu #inputMenu="matMenu" [dir]="'rtl'">
            <div class="menu-content">
                @for (item of inputs; track $index) {
                <button mat-menu-item [routerLink]="['/input', item.type]" [disabled]="header === item.type">
                    {{ item.title }}
                </button>
                }
            </div>
            <mat-divider></mat-divider>
            <button mat-menu-item [routerLink]="['/']" [disabled]="!header">فرم کامل</button>
        </mat-menu>

        <div class="library en">
            <div class="library-title" [class.hasHeader]="!!header">ngx-form-m3</div>
            @if (header) {
            <div class="library-header">{{ header }}</div>
            }
        </div>
        <div [style.flex]="1"></div>
        <div class="icon">
            <mat-icon>{{ colorMode === 'LIGHT' ? 'dark_mode' : 'light_mode' }}</mat-icon>
            <div class="key en">CTRL + SHIFT + ALT + C</div>
        </div>
    </div>
</header>

<content>
    <div class="content"><router-outlet /></div>
</content>
