<content [style.opacity]="formControl.disabled ? 0.4 : 1">
    <div class="content">
        @for (item of dates; track $index) {
        <div class="date">
            <div class="value">{{ item | ngxHelperDate }}</div>
            <button mat-icon-button type="button" (click)="delete($index)" [disabled]="formControl.disabled">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        }
    </div>
</content>

<button mat-icon-button type="button" class="add" (click)="add()" [disabled]="formControl.disabled">
    <mat-icon>today</mat-icon>
</button>
