:host {
    display: block;
    position: relative;

    button.add {
        position: absolute;
        left: -0.5rem;
        top: var(--top);
    }

    content {
        display: block;
        padding-top: 1.5rem;

        .content {
            max-height: 200px;
            overflow: auto;

            .date {
                display: flex;
                align-items: center;
                height: 32px;
                position: relative;
                overflow: hidden;

                .value {
                    flex: 1;
                }

                button {
                    position: absolute;
                    left: -0.5rem;

                    mat-icon {
                        color: var(--error);
                    }
                }
            }
        }
    }
}
