<button mat-icon-button type="button" class="add" (click)="add()" [disabled]="formControl.disabled">
    <mat-icon>date_range</mat-icon>
</button>

<content [style.opacity]="formControl.disabled ? 0.4 : 1">
    <div class="content">
        @for (item of weeks; track $index) {
        <div class="week">
            <div class="value">{{ item | ngxHelperDate : { format: 'WEEK' } }}</div>
            <button mat-icon-button type="button" (click)="delete($index)" [disabled]="formControl.disabled">
                <mat-icon>delete</mat-icon>
            </button>
        </div>
        }
    </div>
</content>
