/* COLUMN AND SECTION HEADER */
.ngx-form-m3-header {
    font-size: 15px;
    background-color: var(--mat-form-field-filled-container-color);
    border-width: 0;
    border-radius: 0;
    border-right: 2px solid var(--secondary-fixed);
    color: var(--secondary);
    padding: 1rem;
}

/* FORM BUTOTNS */
.ngx-form-m3-form-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 1rem;

    margin-top: 1rem;
}
.ngx-form-m3-form-buttons.mobile-view {
    button[type='submit'] {
        flex: 1;
    }
}

/* ENGLISH VALUES */
.ngx-form-m3-en {
    direction: ltr;
    font-family: Roboto, 'Helvetica Neue', sans-serif !important;
}

/* INPUT SUFFIX */
.ngx-form-m3-input-suffix {
    display: inline-flex;

    mat-icon {
        padding-right: 0.5rem;
    }
}
.ngx-form-m3-input-suffix.click {
    mat-icon {
        cursor: pointer;
    }
}

/* INPUT DESCRIPTION */
.ngx-form-m3-input-description {
    font-size: 12px;
    line-height: 18px;
    color: var(--outline);
    text-align: justify;
    margin-top: 0.5rem;
}

/* DISABLED INPUTS */
.ngx-form-m3-disabled-input {
    opacity: 0.4;
    cursor: default;
}

/* INPUTS: BANK-CARD */
.ngx-helper-form-m3-bank-card-input {
    display: flex;
    align-items: center;
    width: 100%;

    .bank {
        font-size: 80%;
    }

    input {
        flex: 1;
    }
}

/* INPUTS: CHECKBOX */
.ngx-helper-form-m3-checkbox-input {
    display: inline-flex;
    align-items: flex-start;
    column-gap: 0.5rem;

    cursor: pointer;

    .message {
        flex: 1;
        text-align: right;
    }
}

/* INPUTS: COLOR */
.ngx-helper-form-m3-color-input {
    display: flex;
    align-items: center;

    section {
        flex: 1;

        display: block;
        position: relative;

        .color {
            cursor: pointer;
            border-width: 0px;
        }

        input[type='color'] {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0 !important;
            opacity: 0;
            z-index: -1;
        }
    }

    .value {
        width: 90px;
        text-align: left;
        cursor: pointer;
        text-transform: uppercase;
    }
}

/* INPUTS: COORDINATES */
.ngx-helper-form-m3-coordinates-input {
    cursor: pointer;
}

/* INPUTS: ICON */
.ngx-helper-form-m3-icon-input {
    display: flex;
    align-items: center;

    mat-icon {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 24px !important;
        height: 24px !important;
        color: var(--primary);
    }

    input {
        flex: 1;
    }
}

/* INPUTS: FILE */
.ngx-helper-form-m3-file-input {
    display: flex;
    align-items: center;
    cursor: pointer;

    .size {
        font-size: 90%;
    }

    .name {
        flex: 1;
        width: 0;

        direction: ltr;
        text-align: left;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    input {
        width: 0.5rem;
    }
}

/* INPUTS: MULTI-SELECT */
.ngx-helper-form-m3-multi-select-input {
    .header {
        display: flex;
        align-items: center;
        column-gap: 0.5rem;

        padding-bottom: 0.5rem;

        .title {
            flex: 1;
            width: 0;

            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        button {
            padding: 0 0.5rem;
            height: auto;
            min-width: auto;
            border-radius: 0;
            font-size: 85%;
        }
    }

    .options {
        overflow: auto;
        max-height: var(--listHeight);

        .option {
            display: inline-flex;
            align-items: flex-start;
            column-gap: 0.5rem;

            cursor: pointer;

            .message {
                flex: 1;
                text-align: right;
            }

            mat-icon.selected {
                color: var(--primary);
            }
        }
    }
}

/* INPUTS: ROUTE */
.ngx-helper-form-m3-route-input {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    cursor: pointer;

    div.distance {
        flex: 1;
    }

    div.point {
        font-size: 90%;
    }
}

/* INPUTS: NAME */
.ngx-helper-form-m3-name-input {
    display: flex;
    column-gap: 1rem;

    mat-form-field {
        flex: 1;
    }
}

/* INPUTS: SELECT */
.ngx-helper-form-m3-select-input {
    position: sticky;
    top: 0;
    z-index: 1;

    input {
        padding: 0.75rem 0.5rem;
        border-radius: 0;
        border-width: 0;
        border-bottom: 1px solid var(--outline-variant);
        outline: none;
        width: 100%;
        direction: rtl;

        box-sizing: border-box;
        color: var(--on-surface);
        background-color: var(--surface-container-highest);
    }

    input.ngx-form-m3-en {
        direction: ltr;
    }

    input::placeholder {
        font-family: Yekan;
        text-align: right;
        direction: rtl;
    }
}
